.jqx-rc-tl-fmb
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.jqx-rc-tr-fmb
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.jqx-rc-bl-fmb
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.jqx-rc-br-fmb
{
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*top rounded Corners*/
.jqx-rc-t-fmb
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
/*bottom rounded Corners*/
.jqx-rc-b-fmb
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*right rounded Corners*/
.jqx-rc-r-fmb
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*left rounded Corners*/
.jqx-rc-l-fmb
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*all rounded Corners*/
.jqx-rc-all-fmb
{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.jqx-widget-fmb {
    font-size: 12px;
    font-family: 'segoe ui', arial, sans-serif;
}
.jqx-widget-content-fmb{font-size: 16px; font-family: 'segoe ui', arial, sans-serif; border-color: #e5e5e5; color: #767676; background-color: #fff;}
.jqx-widget-header-fmb{font-size: 12px; font-family: 'segoe ui', arial, sans-serif; color: #767676; border-color:#e5e5e5; background-color:#f4f4f4;}
.jqx-fill-state-normal-fmb{font-size: 16px; font-family: 'segoe ui', arial, sans-serif; border-color: #e5e5e5; color: #767676; background: #ffffff;}
.jqx-button-fmb {border-color: #cdcdcd;}
.jqx-fill-state-hover-fmb{border-color:#dedede; color: #000; background-color:#dedede;

}
.jqx-fill-state-focus-fmb { border-color: #cdcdcd; }
.jqx-fill-state-pressed-fmb{border-color:#1faeff; color: #fff; background-color:#1faeff;

}
.jqx-input-fmb {
    border-color: #e5e5e5;
}
.jqx-scrollbar-state-normal-fmb, .jqx-grid-bottomright-fmb, .jqx-panel-bottomright-fmb, .jqx-listbox-bottomright-fmb{background-color:#f0f0f0;}
.jqx-widget-fmb .jqx-grid-column-header-fmb, .jqx-grid-cell-fmb, .jqx-widget-fmb .jqx-grid-cell-fmb, .jqx-widget-fmb .jqx-grid-group-cell-fmb, .jqx-grid-group-cell-fmb{font-size: 16px; font-family: 'segoe ui', arial, sans-serif; border-color:#f0f0f0;}
.jqx-tabs-title-selected-bottom-fmb, .jqx-tabs-selection-tracker-bottom-fmb, .jqx-tabs-title-selected-top-fmb, .jqx-tabs-selection-tracker-top-fmb{color: #767676; border-color:#e5e5e5; border-bottom:1px solid #fff; background:#fff}
.jqx-grid-cell-sort-alt-fmb, .jqx-grid-cell-filter-alt-fmb, .jqx-grid-cell-pinned-fmb, .jqx-grid-cell-alt-fmb, .jqx-grid-cell-sort-fmb{ background-color:#ededed; color: #000;}
.jqx-menu-vertical-fmb{background: #fff; border-color: #e5e5e5;}
.jqx-widget-fmb .jqx-grid-cell-fmb, .jqx-widget-fmb .jqx-grid-column-header-fmb, .jqx-widget-fmb .jqx-grid-group-cell-fmb {color: #000; border-color: #e5e5e5;}
.jqx-widget-fmb .jqx-grid-column-menubutton-fmb, .jqx-widget-fmb .jqx-grid-column-sortascbutton-fmb, .jqx-widget-fmb .jqx-grid-column-sortdescbutton-fmb, .jqx-widget-fmb .jqx-grid-column-filterbutton-fmb {
    background-color: transparent;
    border-color: #e5e5e5;
}
.jqx-window-header-fmb, .jqx-input-button-header-fmb, .jqx-calendar-title-header-fmb, .jqx-grid-fmb .jqx-widget-header-fmb, .jqx-grid-header-fmb, .jqx-grid-column-header-fmb {font-size: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #e5e5e5; color: #767676; background: #f4f4f4;}
.jqx-grid-column-menubutton-fmb {
    background-image: url('images/icon-down.png');
 }
.jqx-widget-fmb .jqx-grid-cell-selected-fmb, .jqx-grid-cell-selected-fmb{ background-color:#1faeff; border-color: #1faeff; font-size: 16px;  color:#fff;}
.jqx-grid-cell-hover-fmb{ background-color:#dedede;}
 /*applied to the column's sort button when the sort order is ascending.*/
 .jqx-grid-column-sortascbutton-fmb {
    background-image: url('images/icon-up.png');
 }
.jqx-grid-column-sortdescbutton-fmb {
    background-image: url('images/icon-down.png');
}
.jqx-checkbox-hover-fmb {
    background-color: #fff;
}
.jqx-radiobutton-hover-fmb {
    background-color: #fff;
}
.jqx-scrollbar-thumb-state-normal-horizontal-fmb, .jqx-scrollbar-thumb-state-normal-fmb {
    background: #cdcdcd; border-color: #cdcdcd;
}
.jqx-scrollbar-thumb-state-hover-horizontal-fmb, .jqx-scrollbar-thumb-state-hover-fmb {
    background: #a6a6a6; border-color: #a6a6a6;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-fmb, .jqx-scrollbar-thumb-state-pressed-fmb {
    background: #606060; border-color: #606060;
}
.jqx-scrollbar-button-state-normal-fmb
{
    border: 1px solid #f0f0f0; 
    background: #f0f0f0;
}
/*applied to the scrollbar buttons in hovered state.*/
.jqx-scrollbar-button-state-hover-fmb
{
    border: 1px solid #dadada;
    background: #dadada;
}
/*applied to the scrollbar buttons in pressed state.*/
.jqx-scrollbar-button-state-pressed-fmb
{
    border: 1px solid #606060;
    background: #606060;
}

/*icons*/
.jqx-window-collapse-button-fmb
{
    background-image: url(images/icon-up.png);
}
.jqx-window-collapse-button-collapsed-fmb {
  background-image: url(images/icon-down.png);
}
.jqx-icon-arrow-up-fmb, .jqx-expander-arrow-bottom-fmb, .jqx-menu-item-arrow-up-fmb
{
    background-image: url('images/icon-up.png');
}
.jqx-icon-arrow-down-fmb, .jqx-expander-arrow-top-fmb, .jqx-tree-item-arrow-expand-fmb, .jqx-tree-item-arrow-expand-hover-fmb, .jqx-menu-item-arrow-down-fmb
{
    background-image: url('images/icon-down.png');
}
.jqx-icon-arrow-left-fmb, .jqx-menu-item-arrow-left-fmb
{
    background-image: url('images/icon-left.png');
}
.jqx-icon-arrow-right-fmb, .jqx-menu-item-arrow-right-fmb, .jqx-tree-item-arrow-collapse-fmb, .jqx-tree-item-arrow-collapse-hover-fmb
{
    background-image: url('images/icon-right.png');
}
.jqx-tabs-arrow-left-fmb, .jqx-tree-item-arrow-collapse-rtl-fmb, .jqx-tree-item-arrow-collapse-hover-rtl-fmb
{
    background-image: url('images/icon-left.png');
}
.jqx-tabs-arrow-right-fmb
{
    background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-up-selected-fmb, .jqx-icon-arrow-up-selected-fmb{background-image:url('images/icon-up-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-down-selected-fmb, .jqx-icon-arrow-down-selected-fmb{background-image:url('images/icon-down-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-left-selected-fmb, .jqx-icon-arrow-left-selected-fmb{background-image:url('images/icon-left-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-right-selected-fmb, .jqx-icon-arrow-right-selected-fmb{background-image:url('images/icon-right-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-tabs-close-button-fmb{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-tabs-close-button-selected-fmb{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-tabs-close-button-hover-fmb{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-scrollbar-fmb .jqx-icon-arrow-up-selected-fmb{background-image:url('images/icon-up-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-fmb .jqx-icon-arrow-down-selected-fmb{background-image:url('images/icon-down-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-fmb .jqx-icon-arrow-left-selected-fmb{background-image:url('images/icon-left-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-fmb .jqx-icon-arrow-right-selected-fmb{background-image:url('images/icon-right-white.png');background-repeat:no-repeat; background-position:center;}
.jqx-slider-slider-fmb
{
    border-color:#cdcdcd;
}
.jqx-slider-button-fmb
{
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    border-color: #cdcdcd;
}
.jqx-input-button-content-fmb
{  
    font-size: 10px;
}
.jqx-dropdownlist-state-normal-fmb, .jqx-dropdownlist-state-hover-fmb, .jqx-dropdownlist-state-selected-fmb,
.jqx-scrollbar-button-state-hover-fmb, .jqx-scrollbar-button-state-normal-fmb, .jqx-scrollbar-button-state-pressed-fmb,
.jqx-scrollbar-thumb-state-normal-horizontal-fmb, .jqx-scrollbar-thumb-state-hover-horizontal-fmb, .jqx-scrollbar-thumb-state-pressed-horizontal-fmb,
.jqx-scrollbar-thumb-state-normal-fmb, .jqx-scrollbar-thumb-state-pressed-fmb, .jqx-button-fmb, .jqx-tree-item-hover-fmb, .jqx-tree-item-selected-fmb,
.jqx-tree-item-fmb, .jqx-menu-item-fmb, .jqx-menu-item-hover-fmb, .jqx-menu-item-selected-fmb, .jqx-menu-item-top-fmb, .jqx-menu-item-top-hover-fmb, 
.jqx-menu-item-top-selected-fmb, .jqx-slider-button-fmb, .jqx-slider-slider-fmb
 {
    -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}
.jqx-switchbutton-fmb {
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
    border: 2px solid #a6a6a6;
}
.jqx-switchbutton-thumb-fmb {
    width: 12px;
    background: #000;
    border: 1px solid #000;
}
.jqx-switchbutton-label-on-fmb {
    background: #1faeff;
    color: #1faeff;
}
.jqx-switchbutton-label-off-fmb {
    background: #a6a6a6;
    color: #a6a6a6;
}

.jqx-switchbutton-wrapper-fmb {
}
.jqx-grid-cell-fmb.jqx-grid-cell-selected-fmb>.jqx-grid-group-expand-fmb {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-fmb.jqx-grid-cell-selected-fmb>.jqx-grid-group-collapse-fmb{
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-fmb.jqx-grid-cell-selected-fmb>.jqx-grid-group-collapse-rtl-fmb {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-fmb.jqx-grid-cell-selected-fmb>.jqx-grid-group-expand-rtl-fmb{
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-group-collapse-fmb {
    background-image: url(images/icon-right.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-grid-group-collapse-rtl-fmb
{
    padding-right: 0px;
    background-image: url(images/icon-left.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-grid-group-expand-fmb, .jqx-grid-group-expand-rtl-fmb
{
    padding-right: 0px;
    background-image: url(images/icon-down.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-icon-arrow-first-fmb
{
    background-image: url('images/icon-first.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-fmb
{
    background-image: url('images/icon-last.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-first-hover-fmb
{
    background-image: url('images/icon-first.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-hover-fmb
{
    background-image: url('images/icon-last.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-first-selected-fmb
{
    background-image: url('images/icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-selected-fmb
{
    background-image: url('images/icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tree-grid-collapse-button-fmb {
    margin-top: 1px;
}
.jqx-icon-calendar-pressed-fmb {
    background-image: url('images/icon-calendar-white.png');
}.jqx-widget-fmb
{
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
}
.jqx-widget-content-fmb
{
  /*color: #3c763d;
  background: #dff0d8;
  border-color: #d6e9c6;*/
  color: #767676;  
  border-color: #DDDDDD;
  background: #ffffff;
  text-shadow: none;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
}
.jqx-widget-header-fmb, .jqx-grid-fmb .jqx-widget-header-fmb
{
  color: #000000;
  text-shadow: none;
  border-color: #DDDDDD;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#FFFFFF));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
}
.jqx-grid-column-menubutton-fmb, .jqx-widget-fmb.jqx-grid-column-menubutton-fmb
{
  border-color: #DDDDDD;
}
.jqx-grid-cell-fmb, .jqx-widget-fmb .jqx-grid-cell-fmb
{
  background-color: #ffffff;
  color: #767676;
  text-shadow: none;
}
.jqx-fill-state-normal-fmb
{
  color: #767676;
  text-shadow: none;
  border-color: #e5e5e5;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
}
.jqx-button-fmb
{
  color: #767676;
  text-shadow: none;
  border-color: #e5e5e5;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
}
.jqx-grid-selectionarea-fmb
{
  border-color: #e5e5e5;
  background-color: #ffffff;
}
.jqx-widget-fmb .jqx-grid-cell-sort-fmb, .jqx-widget-fmb .jqx-grid-cell-filter-fmb, .jqx-widget-fmb .jqx-grid-cell-pinned-fmb, .jqx-grid-cell-sort-fmb, .jqx-grid-cell-filter-fmb, .jqx-grid-cell-pinned-fmb
{
  background-color: #FFFFFF;
  color: #767676;
  text-shadow: none;
}
.jqx-widget-fmb .jqx-grid-cell-alt-fmb, .jqx-widget-fmb .jqx-grid-cell-sort-alt-fmb, .jqx-widget-fmb .jqx-grid-cell-pinned-alt-fmb, .jqx-widget-fmb .jqx-grid-cell-filter-alt-fmb, .jqx-grid-cell-alt-fmb, .jqx-grid-cell-sort-alt-fmb, .jqx-grid-cell-filter-alt-fmb
{
  background-color: #FFFFFF;
  color: #767676;
  text-shadow: none;
}
.jqx-fill-state-hover-fmb, .jqx-widget-fmb .jqx-grid-cell-hover-fmb
{
  color: #333333;
  text-shadow: none;
  border-color: #DDDDDD;
  background-color: #F6F6F6;
  background-image: -moz-linear-gradient(top, #F6F6F6, #F6F6F6);
  background-image: -ms-linear-gradient(top, #F6F6F6, #F6F6F6);
  background-image: -o-linear-gradient(top, #F6F6F6, #F6F6F6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#F6F6F6), to(#F6F6F6));
  background-image: -webkit-linear-gradient(top, #F6F6F6, #F6F6F6);
  background-image: linear-gradient(top, #F6F6F6, #F6F6F6);
  background-image: linear-gradient(to bottom, #F6F6F6, #F6F6F6);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
}
.jqx-fill-state-pressed-fmb, .jqx-widget-fmb .jqx-grid-cell-selected-fmb
{
  color: #ffffff;
  text-shadow: none;
  border-color: #70B8FF;
  background-color: #70B8FF;
  background-image: -moz-linear-gradient(top, #70B8FF, #70B8FF);
  background-image: -ms-linear-gradient(top, #70B8FF, #70B8FF);
  background-image: -o-linear-gradient(top, #70B8FF, #70B8FF);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#70B8FF), to(#70B8FF));
  background-image: -webkit-linear-gradient(top, #70B8FF, #70B8FF);
  background-image: linear-gradient(top, #70B8FF, #70B8FF);
  background-image: linear-gradient(to bottom, #70B8FF, #70B8FF);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
}
.jqx-switchbutton-label-on-fmb
{
  color: #ffffff;
  text-shadow: none;
  border-color: #70B8FF;
  background-color: #70B8FF;
  background-image: -moz-linear-gradient(top, #70B8FF, #70B8FF);
  background-image: -ms-linear-gradient(top, #70B8FF, #70B8FF);
  background-image: -o-linear-gradient(top, #70B8FF, #70B8FF);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#70B8FF), to(#70B8FF));
  background-image: -webkit-linear-gradient(top, #70B8FF, #70B8FF);
  background-image: linear-gradient(top, #70B8FF, #70B8FF);
  background-image: linear-gradient(to bottom, #70B8FF, #70B8FF);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-fmb, .jqx-tabs-selection-tracker-top-fmb
{
  color: #767676;
  text-shadow: none;
  border-color: #DDDDDD;
  border-bottom: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-tabs-title-selected-bottom-fmb, .jqx-tabs-selection-tracker-bottom-fmb
{
  color: #767676;
  text-shadow: none;
  border-color: #DDDDDD;
  border-top: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-splitter-splitbar-hover-fmb
{
  background: #F6F6F6;
}
.jqx-splitter-splitbar-vertical-fmb, .jqx-splitter-splitbar-horizontal-fmb, .jqx-slider-track-horizontal-fmb, .jqx-slider-track-vertical-fmb
{
  background: #ffffff;
}
.jqx-splitter-collapse-button-horizontal-fmb, .jqx-splitter-collapse-button-vertical-fmb, .jqx-slider-rangebar-fmb
{
  background: #70B8FF;
}
.jqx-scrollbar-state-normal-fmb
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}
.jqx-grid-bottomright-fmb, .jqx-panel-bottomright-fmb, .jqx-listbox-bottomright-fmb
{
  background-color: #f0f0f0;
}
.jqx-scrollbar-thumb-state-normal-fmb
{
  background-color: #cdcdcd;
  background-color: #cdcdcd;
  background-image: -moz-linear-gradient(left, #cdcdcd, #cdcdcd);
  background-image: -ms-linear-gradient(left, #cdcdcd, #cdcdcd);
  background-image: -o-linear-gradient(left, #cdcdcd, #cdcdcd);
  background-image: -webkit-gradient(linear, left top, right top, from(#cdcdcd), to(#cdcdcd));
  background-image: -webkit-linear-gradient(left, #cdcdcd, #cdcdcd);
  background-image: linear-gradient(left, #cdcdcd, #cdcdcd);
  background-image: linear-gradient(left right, #cdcdcd, #cdcdcd);
}
.jqx-scrollbar-thumb-state-normal-horizontal-fmb
{
  background-color: #cdcdcd;
  background-color: #cdcdcd;
  background-image: -moz-linear-gradient(top, #cdcdcd, #cdcdcd);
  background-image: -ms-linear-gradient(top, #cdcdcd, #cdcdcd);
  background-image: -o-linear-gradient(top, #cdcdcd, #cdcdcd);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#cdcdcd), to(#cdcdcd));
  background-image: -webkit-linear-gradient(top, #cdcdcd, #cdcdcd);
  background-image: linear-gradient(top, #cdcdcd, #cdcdcd);
  background-image: linear-gradient(to bottom, #cdcdcd, #cdcdcd);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-fmb
{
  background-color: #a6a6a6;
  border-color: #a6a6a6;
  background-image: -moz-linear-gradient(left, #a6a6a6, #a6a6a6);
  background-image: -ms-linear-gradient(left, #a6a6a6, #a6a6a6);
  background-image: -o-linear-gradient(left, #a6a6a6, #a6a6a6);
  background-image: -webkit-gradient(linear, left top, right top, from(#a6a6a6), to(#a6a6a6));
  background-image: -webkit-linear-gradient(left, #a6a6a6, #a6a6a6);
  background-image: linear-gradient(left, #a6a6a6, #a6a6a6);
  background-image: linear-gradient(left right, #a6a6a6, #a6a6a6);
}
.jqx-scrollbar-thumb-state-hover-horizontal-fmb
{
  background-color: #a6a6a6;
  border-color: #a6a6a6;
  background-image: -moz-linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: -ms-linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: -o-linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#a6a6a6), to(#a6a6a6));
  background-image: -webkit-linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: linear-gradient(to bottom, #a6a6a6, #a6a6a6);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-fmb
{
  background-color: #606060;
  border-color: #606060;
  background-image: -moz-linear-gradient(left, #606060, #606060);
  background-image: -ms-linear-gradient(left, #606060, #606060);
  background-image: -o-linear-gradient(left, #606060, #606060);
  background-image: -webkit-gradient(linear, left top, right top, from(#606060), to(#606060));
  background-image: -webkit-linear-gradient(left, #606060, #606060);
  background-image: linear-gradient(left, #606060, #606060);
  background-image: linear-gradient(left right, #606060, #606060);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-fmb
{
  background-color: #606060;
  border-color: #606060;
  background-image: -moz-linear-gradient(top, #606060, #606060);
  background-image: -ms-linear-gradient(top, #606060, #606060);
  background-image: -o-linear-gradient(top, #606060, #606060);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#606060), to(#606060));
  background-image: -webkit-linear-gradient(top, #606060, #606060);
  background-image: linear-gradient(top, #606060, #606060);
  background-image: linear-gradient(to bottom, #606060, #606060);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-fmb
{
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-fmb
{
  background-color: #a6a6a6;
  border-color: #a6a6a6;
  background-image: -moz-linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: -ms-linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: -o-linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#a6a6a6), to(#a6a6a6));
  background-image: -webkit-linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: linear-gradient(to bottom, #a6a6a6, #a6a6a6);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-fmb
{
  background-color: #606060;
  border-color: #606060;
  background-image: -moz-linear-gradient(top, #606060, #606060);
  background-image: -ms-linear-gradient(top, #606060, #606060);
  background-image: -o-linear-gradient(top, #606060, #606060);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#606060), to(#606060));
  background-image: -webkit-linear-gradient(top, #606060, #606060);
  background-image: linear-gradient(top, #606060, #606060);
  background-image: linear-gradient(to bottom, #606060, #606060);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-fmb
{
  background: #DDDDDD;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-fmb
{
  -moz-border-radius-topleft: 1px;
  -webkit-border-radius-topleft: 1px;
  border-radius-topleft: 1px;
}
.jqx-rc-tr-fmb
{
  -moz-border-radius-topright: 1px;
  -webkit-border-radius-topright: 1px;
  border-radius-topright: 1px;
}
.jqx-rc-bl-fmb
{
  -moz-border-radius-bottomleft: 1px;
  -webkit-border-radius-bottomleft: 1px;
  border-radius-bottomleft: 1px;
}
.jqx-rc-br-fmb
{
  -moz-border-radius-bottomright: 1px;
  -webkit-border-radius-bottomright: 1px;
  border-radius-bottomright: 1px;
}
.jqx-rc-t-fmb
{
  -moz-border-radius-topleft: 1px;
  -webkit-border-top-left-radius: 1px;
  border-top-left-radius: 1px;
  -moz-border-radius-topright: 1px;
  -webkit-border-top-right-radius: 1px;
  border-top-right-radius: 1px;
  background: #1faeff;
}
.jqx-rc-b-fmb
{
  -moz-border-radius-bottomleft: 1px;
  -webkit-border-bottom-left-radius: 1px;
  border-bottom-left-radius: 1px;
  -moz-border-radius-bottomright: 1px;
  -webkit-border-bottom-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
.jqx-rc-r-fmb
{
  -moz-border-radius-topright: 1px;
  -webkit-border-top-right-radius: 1px;
  border-top-right-radius: 1px;
  -moz-border-radius-bottomright: 1px;
  -webkit-border-bottom-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
.jqx-rc-l-fmb
{
  -moz-border-radius-topleft: 1px;
  -webkit-border-top-left-radius: 1px;
  border-top-left-radius: 1px;
  -moz-border-radius-bottomleft: 1px;
  -webkit-border-bottom-left-radius: 1px;
  border-bottom-left-radius: 1px;
}
.jqx-radiobutton-default-fmb, .jqx-radiobutton-fmb, .jqx-radiobutton-check-checked-fmb, .jqx-radiobutton-hover-fmb, .jqx-radiobutton-check-indeterminate-fmb, .jqx-radiobutton-check-indeterminate-disabled-fmb, .jqx-slider-button-fmb
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-fmb, .jqx-tooltip-fmb, .jqx-tooltip-text-fmb, .jqx-tooltip-main-fmb
{
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.jqx-grid-column-sortascbutton-fmb, .jqx-expander-arrow-bottom-fmb, .jqx-window-collapse-button-fmb, .jqx-menu-item-arrow-up-fmb, .jqx-menu-item-arrow-top-up-fmb, .jqx-icon-arrow-up-fmb
{
  background-image: url('images/metro-icon-up.png');
}
.jqx-icon-arrow-up-hover-fmb
{
  background-image: url('images/metro-icon-up.png');
}
.jqx-menu-item-arrow-up-selected-fmb, .jqx-icon-arrow-up-selected-fmb.jqx-expander-arrow-expanded-fmb
{
  background-image: url('images/metro-icon-up.png');
}
.jqx-grid-column-menubutton-fmb, .jqx-grid-column-sortdescbutton-fmb, .jqx-expander-arrow-top-fmb, .jqx-window-collapse-button-collapsed-fmb, .jqx-menu-item-arrow-down-fmb, .jqx-menu-item-arrow-down-fmb, .jqx-tree-item-arrow-expand-fmb, .jqx-grid-group-expand-fmb, .jqx-widget-fmb .jqx-grid-group-expand-fmb, .jqx-icon-arrow-down-fmb
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-icon-arrow-down-hover-fmb
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-menu-item-arrow-down-selected-fmb, .jqx-icon-arrow-down-selected-fmb
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-tabs-arrow-left-fmb, .jqx-menu-item-arrow-top-left-fmb, .jqx-grid-group-collapse-rtl-fmb, .jqx-widget-fmb .jqx-grid-group-collapse-rtl-fmb, .jqx-icon-arrow-left-fmb, .jqx-icon-arrow-down-left-fmb
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-icon-arrow-left-hover-fmb
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-menu-vertical-fmb
{
  background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-fmb, .jqx-icon-arrow-left-selected-fmb
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-tabs-arrow-right-fmb, .jqx-menu-item-arrow-top-right-fmb, .jqx-menu-item-arrow-collapse-fmb, .jqx-grid-group-collapse-fmb, .jqx-widget-fmb .jqx-grid-group-collapse-fmb, .jqx-icon-arrow-right-fmb
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-icon-arrow-right-hover-fmb
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-menu-item-arrow-right-selected-fmb, .jqx-icon-arrow-right-selected-fmb
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-window-close-button-fmb, .jqx-tabs-close-button-fmb, .icon-close-fmb
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-selected-fmb
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-hover-fmb
{
  background-image: url('images/close.png');
}
.jqx-widget-fmb .jqx-grid-column-header-fmb, .jqx-widget-fmb .jqx-grid-cell-fmb, .jqx-widget-fmb .jqx-grid-group-cell-fmb, .jqx-grid-cell-fmb
{
  border-color: #DDDDDD;
}
.jqx-checkbox-check-checked-fmb
{
  background-image: url('images/check_black.png');
}
.jqx-checkbox-check-indeterminate-fmb
{
  background-image: url('images/check_indeterminate_black.png');
}
.jqx-tooltip-fmb, .jqx-tooltip-main-fmb
{
  color: #767676;
  text-shadow: none;
  border-color: #DDDDDD;
  background-color: #ffffff;
}
.jqx-combobox-content-fmb, .jqx-input-fmb
{
  color: #767676;
  text-shadow: none;
  border-color: #DDDDDD;
  background-color: #ffffff;
  text-align:center;
}
.jqx-combobox-input-fmb
{
  color: #767676;
  text-shadow: none;
  text-align:center;
}
.jqx-input-content-fmb
{
  color: #767676;
  text-shadow: none;
  background-color: #ffffff;
}
.jqx-fill-state-focus-fmb, .jqx-popup-fmb .jqx-fill-state-focus-fmb
{
  border-color: #cdcdcd;
}
.jqx-popup-fmb.jqx-listbox-fmb, .jqx-popup-fmb.jqx-calendar-fmb,.jqx-menu-dropdown-fmb,  .jqx-popup-fmb.jqx-dropdownbutton-popup-fmb
{
  color: #767676;
  text-shadow: none;
  border-color: #DDDDDD;
  background-color: #ffffff;
}
.jqx-menu-item-arrow-right-fmb, .jqx-tree-item-arrow-collapse-fmb
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-menu-item-arrow-left-fmb
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-tree-item-arrow-expand-fmb
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-scrollbar-fmb .jqx-icon-arrow-up-fmb
{
  background-image: url('images/metro-icon-up.png');
}
.jqx-scrollbar-fmb .jqx-icon-arrow-left-fmb
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-scrollbar-fmb .jqx-icon-arrow-right-fmb
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-scrollbar-fmb .jqx-icon-arrow-bottom-fmb
{
  background-image: url('images/metro-icon-bottom.png');
}
.jqx-scrollbar-fmb .jqx-icon-arrow-up-hover-fmb
{
  background-image: url('images/metro-icon-up.png');
}
.jqx-scrollbar-fmb .jqx-icon-arrow-left-hover-fmb
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-scrollbar-fmb .jqx-icon-arrow-right-hover-fmb
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-scrollbar-fmb .jqx-icon-arrow-bottom-hover-fmb
{
  background-image: url('images/metro-icon-bottom.png');
}
.jqx-scrollbar-fmb .jqx-icon-arrow-up-selected-fmb
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-scrollbar-fmb .jqx-icon-arrow-left-selected-fmb
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-scrollbar-fmb .jqx-icon-arrow-right-selected-fmb
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-scrollbar-fmb .jqx-icon-arrow-bottom-selected-fmb
{
  background-image: url('images/metro-icon-bottom-white.png');
}
.jqx-calendar-fmb .jqx-icon-arrow-up-fmb, .jqx-tabs-header-fmb .jqx-icon-arrow-up-fmb
{
}
.jqx-calendar-fmb .jqx-icon-arrow-left-fmb, .jqx-tabs-header-fmb .jqx-icon-arrow-left-fmb
{
}
.jqx-calendar-fmb .jqx-icon-arrow-right-fmb, .jqx-tabs-header-fmb .jqx-icon-arrow-right-fmb
{
}
.jqx-calendar-fmb .jqx-icon-arrow-bottom-fmb, .jqx-tabs-header-fmb .jqx-icon-arrow-bottom-fmb
{
}
.jqx-widget-fmb .jqx-grid-cell-fmb, .jqx-listitem-state-normal-fmb, .jqx-menu-item-normal-fmb, .jqx-tree-item-normal-fmb, .jqx-calendar-cell-fmb, .jqx-grid-cell-fmb,.jqx-menu-vertical-fmb .jqx-menu-item-top-normal-fmb, .jqx-input-popup-fmb .jqx-fill-state-normal-fmb
{
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
}
.jqx-widget-fmb .jqx-grid-cell-hover-fmb, .jqx-listitem-state-hover-fmb, .jqx-menu-item-hover-fmb, .jqx-tree-item-hover-fmb, .jqx-calendar-cell-hover-fmb, .jqx-grid-cell-hover-fmb,.jqx-menu-vertical-fmb .jqx-menu-item-top-hover-fmb, .jqx-input-popup-fmb .jqx-fill-state-hover-fmb,.jqx-input-button-header-fmb, .jqx-input-popup-fmb .jqx-fill-state-pressed-fmb,.jqx-input-button-header-fmb
{
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
}
.jqx-widget-fmb  .jqx-grid-cell-selected-fmb, .jqx-listitem-state-selected-fmb, .jqx-menu-item-selected-fmb, .jqx-tree-item-selected-fmb, .jqx-calendar-cell-selected-fmb, .jqx-grid-cell-selected-fmb,.jqx-menu-vertical-fmb .jqx-menu-item-top-selected-fmb, .jqx-grid-selectionarea-fmb
{
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
}
.jqx-icon-calendar-fmb
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-hover-fmb
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-pressed-fmb
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-first-fmb
{
  background-image: url('images/metro-icon-first.png');
}
.jqx-icon-first-hover-fmb
{
  background-image: url('images/metro-icon-first.png');
}
.jqx-icon-first-selected-fmb
{
  background-image: url('images/metro-icon-first.png');
}
.jqx-icon-last-fmb
{
  background-image: url('images/metro-icon-last.png');
}
.jqx-icon-last-hover-fmb
{
  background-image: url('images/metro-icon-last.png');
}
.jqx-icon-last-selected-fmb
{
  background-image: url('images/metro-icon-last.png');
}
.jqx-grid-cell-fmb.jqx-grid-cell-fmb>.jqx-grid-group-expand-fmb
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-cell-fmb.jqx-grid-cell-hover-fmb>.jqx-grid-group-expand-fmb
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-cell-fmb.jqx-grid-cell-selected-fmb>.jqx-grid-group-expand-fmb
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-cell-fmb.jqx-grid-cell-fmb>.jqx-grid-group-collapse-fmb
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-grid-cell-fmb.jqx-grid-cell-hover-fmb>.jqx-grid-group-collapse-fmb
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-grid-cell-fmb.jqx-grid-cell-selected-fmb>.jqx-grid-group-collapse-fmb
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-grid-cell-fmb.jqx-grid-cell-fmb>.jqx-grid-group-expand-rtl-fmb
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-cell-fmb.jqx-grid-cell-hover-fmb>.jqx-grid-group-expand-rtl-fmb
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-cell-fmb.jqx-grid-cell-selected-fmb>.jqx-grid-group-expand-rtl-fmb
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-cell-fmb.jqx-grid-cell-fmb>.jqx-grid-group-collapse-rtl-fmb
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-grid-cell-fmb.jqx-grid-cell-hover-fmb>.jqx-grid-group-collapse-rtl-fmb
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-grid-cell-fmb.jqx-grid-cell-selected-fmb>.jqx-grid-group-collapse-rtl-fmb
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-grid-column-menubutton-fmb, .jqx-grid-column-sortdescbutton-fmb
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-column-sortascbutton-fmb
{
  background-image: url('images/metro-icon-up.png');
}
.jqx-icon-delete-fmb
{
  background-image: url('images/metro-icon-delete.png');
}
.jqx-icon-edit-fmb
{
  background-image: url('images/metro-icon-edit.png');
}
.jqx-icon-save-fmb
{
  background-image: url('images/metro-icon-save.png');
}
.jqx-icon-cancel-fmb
{
  background-image: url('images/metro-icon-cancel.png');
}
.jqx-icon-search-fmb
{
  background-image: url('images/metro-icon-search.png');
}
.jqx-icon-plus-fmb
{
  background-image: url('images/metro-icon-plus.png');
}




/**Overriding the classes defined in the jqx-base.css and few of the classes defined above*/
.jqx-dropdownlist-content-fmb{
	text-align: center;
}

.jqx-listitem-state-normal-fmb{
	text-align: center;
}

.jqx-grid-cell-fmb{
	text-align: center;
}

.jqx-tooltip-text-fmb{
	color: #FF5C33;	
}


.jqx-validator-hint {
height: 30px !important;
padding-top: 5px !important;
padding-bottom: 5px !important;
border: 1px solid #e08e0b !important;
background-color: #e08e0b !important;
}

.jqx-grid-column-header-fmb{
	background:#d9edf7 !important;
}

.jqx-grid-column-sortascbutton-fmb{
	background:#d9edf7 !important;
}